*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 20px;

  /* DA TOGLIERE */
  /* background: lightsalmon; */
}

body{
  font-family: arial;
  min-width: 1200px;
}

/* 
GENERAL 
*/

.button{
  color:#202528;
  background-color: white;
  border-radius: 100px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

.button.big{
  border-radius: 100px;
  padding: 20px 30px;
}

.button.dark{
  color:white;
  background-color: #23272a;
}

.button.light{
  color:white;
  background-color: #8fa1e1;
}

/* 
HEADER 
*/

header{
  height: 100px;
  /* DA TOGLIERE */
  background-color: #3161e0;
}

.header-col{
  float: left;
  line-height: 80px;
  height: 100%;
}

.header-col.col-left{
  width: 10%;
  text-align: left;
}

.header-col.col-middle{
  width: 80%;
  text-align: center;
}

.header-col.col-right{
  width: 10%;
  text-align: right;
}

.header-col img{
  vertical-align: middle;
}

.header-col.col-middle ul li{
  display: inline-block;
  list-style: none;
  padding: 0 20px;
}

.header-col.col-middle ul li a{
  text-decoration: none;
  color: white;
  font-size: 15px ;
}

.button.button-header{
  display: inline;
}

/* 
JUMBOTRON 
*/

.jumbotron{
  width: 100%;
  height: 700px;
  background-image: url("../img/jumbo.png");
  background-position: center;
  background-size: cover;
}

.jumbotron-content-box{
  width: 100%;
  height:auto;
  margin:0 auto;
  text-align: center;
  color: white;
  padding-top: 10%;
}

.jumbotron-content-box h1{
  font-size: 60px;
}

.jumbotron-content-box p{
  padding:4% 25%;
  font-size: 25px;
  text-align: center;
}

/* 
MAIN 
*/

/* WHITE SECTION */
.section-main-content{
  background-color: white;
  width: 100%;
  height: auto;
  /* margin: 30px 0; */
  padding: 40px;
}

/* GREY SECTION */
.section-main-content.background-secondary{
  background-color: #f6f6f6;
}

.main-content-col{
  float: left;
}

/* column with image */
.main-content-col.image{
  width: calc(100%/2 + 15%);
  height: 100%;

  /* DA TOGLIERE
  background-color: lightskyblue; */
}

/* Image size */
.main-content-col.image img{
  padding: 20px 0;
  width: 100%;
  height: auto;
}

/* column with text */
.main-content-col.text{
  width: calc(100%/2 - 15%);
  height: 100%;
  padding: 65px;
  /* DA TOGLIERE
  background-color: lightskyblue; */
}

.main-content-col.text h3{
  font-size: 2vw;
}

.main-content-col.text p{
  margin-top: 20px;
  font-size: 1.2vw;
}

/* /column with text */

.main-content-row{
  width: 100%;
  height: auto;
  padding-top: 20px;
  text-align: center;

  /* DA TOGLIERE
  background-color: lightgoldenrodyellow; */
}

.main-content-row h3{
  padding: 20px 0;
  font-size: 2vw;
}

.main-content-row p{
  margin-top: 20px;
  font-size: 1.2vw;
}

.main-content-row img{
  width: 100%;
  height: auto;
}

.star-background{
  background-image: url('../img/stars.svg');
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* 
FOOTER 
*/

footer{
  background-color: #23272a;
  width: 100%;
  height: auto;
  padding: 50px 0;
}

.footer-column-box{
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  /* DA TOGLIERE
  height: 200px;
  background-color: lightseagreen; */
}

.footer-column-big{
  float: left;
  width: calc(100%/5 + 5%*4);
  height: auto;

  /* DA TOGLIERE
  background-color: lightpink; */
}

.footer-column-small{
  float: left;
  width: calc(100%/5 - 5%);
  height: auto;

  /* DA TOGLIERE
  background-color: lightpink; */
}

.footer-column-box h3, h4, h5{
  color: #7a94d9;
}

.footer-column-box h3{
  font-size: 2vw;
  padding-bottom: 20px;
}

.footer-column-big .flag{
  vertical-align: middle;
  height: 15px ;
}

.footer-column-big  ul li{
  display: inline-block;
  list-style: none;
  padding: 20px 10px 20px 0;
}

.fa-brands, .footer-column-big span {
  color: white;
}

.footer-column-small  ul li{
  list-style: none;
  padding: 5px 0;
}

.footer-column-small ul li a{
  text-decoration: none;
  color: white;
}

.footer-bottom{
  border-top: 2px solid #7a94d9;
  padding-top: 20px;
}

.footer-bottom .footer-col{
  float: left;
  width: 50%;
  height: 100%;

  /* DA TOGLIERE
  background-color: lightskyblue; */
}

.footer-bottom .footer-col img{
  vertical-align: middle;
}

.footer-bottom .footer-col.right{
  text-align: right;
}