*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

header{
  height: 80px;

  /* DA TOGLIERE */
  background-color: #3161e0;
}

.container{
  width: 70%;
  height: 100%;
  margin:0 auto;

  /* DA TOGLIERE */
  background: lightsalmon;
}

.jumbotron{
  width: 100%;
  height: 800px;

  /* DA TOGLIERE */
  background-color: lightblue;
}

.jumbotron-content-box{
  width: 80%;
  margin:0 auto;


  /* DA TOGLIERE */
  background-color: aquamarine;
  height: 400px;
}

/* WHITE SECTION */
.section-main-content{
  background-color: white;
  width: 100%;

  /* DA TOGLIERE */
  height: 400px;
}

/* GREY SECTION */
.section-main-content.background-secondary{
  background-color: #f6f6f6;
}

.main-content-col{
  float: left;
  width: 50%;
  height: auto;
  padding: 10px;

  /* DA TOGLIERE */
  background-color: lightskyblue;
}

.main-content-row{
  float: left;
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;

  /* DA TOGLIERE */
  background-color: lightgoldenrodyellow;
}

footer{
  background-color: #23272a;
  width: 100%;

  /* DA TOGLIERE */
  height: 400px;
}

.footer-column-box{
  width: 100%;

  /* DA TOGLIERE */
  height: 200px;
  background-color: lightseagreen;
}

.footer-column-big{
  float: left;
  width: calc(100%/5 + 5%*4);
  height: auto;

  /* DA TOGLIERE */
  height: 50px;
  background-color: lightpink;
}

.footer-column-small{
  float: left;
  width: calc(100%/5 - 5%);
  

  /* DA TOGLIERE */
  height: 50px;
  background-color: lightpink;
}

.footer-col{
  float: left;
  width: 50%;
  height: auto;
  padding: 10px;

  /* DA TOGLIERE */
  background-color: lightskyblue;
}

.footer-col.right{
  text-align: right;
}